@model (int page, int max_index_page, string context_url, string context_component)

<nav aria-label="pagination-wrapper">
                <ul class="pagination">
                    <li class="page-item ">
                        <a class='page-link 'data-index="@(Model.page-1)" >
                            <<
                        </a>
                    </li>
                    @{
                        var left=Model.page-2;
                        var right=Model.page+2;
                        if (left<1){
                            left=1;
                        }
                        if (right>@Model.max_index_page){
                            right=@Model.max_index_page;
                        }
                    }
                    @for (int i = left; i <= right; i++)
                    {
                        <li class="page-item ">
                            <a class="page-link @(i == Model.page ? "pa-active" : "")" data-index="@i" >
                                @i
                            </a>
                        </li>
                    }
                     <li class="page-item ">
                        <a class='page-link 'data-index="@(Model.page+1)">
                            >>
                        </a>
                    </li>
                </ul>
            </nav>
