@model (PaginationInfo paginationInfo, string context_url, string context_component)

@if (Model.paginationInfo.TotalPages > 1)
{
    <nav aria-label="pagination-wrapper">
        <ul class="pagination">
            <li class="page-item ">
                <a class='page-link ' data-index="@(Model.paginationInfo.CurrentPage - 1)">
                    @("<<") </a>
            </li>
            @{
                var left = Model.paginationInfo.CurrentPage - 2;
                var right = Model.paginationInfo.CurrentPage + 2;
                if (left < 1)
                {
                    left = 1;
                }
                if (right > @Model.paginationInfo.TotalPages)
                {
                    right = @Model.paginationInfo.TotalPages;
                }
            }
            @for (int i = left; i <= right; i++)
            {
                <li class="page-item">
                    <a class="page-link @(i == Model.paginationInfo.CurrentPage ? "pa-active" : "")" data-index="@i">
                        @i
                    </a>
                </li>
            }
            <li class="page-item ">
                <a class='page-link' data-index="@(Model.paginationInfo.CurrentPage + 1)">
                    @(">>")
                </a>
            </li>
        </ul>
    </nav>
}