@model ( double avg_rating, int num_ratings, Dictionary<int, int> rating_counts )

@{
  int sum = 0;
  foreach (var item in Model.rating_counts)
  {
    sum += item.Value;
  }

  Dictionary<int, float> rating_ratio = new();
  foreach (var item in Model.rating_counts)
  {
    rating_ratio[item.Key] = (float)item.Value / sum * 100;
  }
}

<div class="product-des-content-wrapper">
  <div class="product-rating-wrapper">
    <div class="rating-summary">
      <div class="rating-score">
        <span class="score-avg">@Math.Round(Model.avg_rating,1)</span>
        <span class="score-max">/5</span>
      </div>
      <div class="reply-rating-star-icon-list">
        <div class="card-product-rating-star">
          @await Html.PartialAsync("_Rating5StarList",(float)Model.avg_rating)
        </div>
      </div>
      <div class="rating-count">@Model.num_ratings lượt đánh giá</div>
    </div>
    <div class="rating-detail">
      <ul class="rating-star-list">
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarList",(float)5)

            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: @rating_ratio[5]%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">@Model.rating_counts[5]</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarList",(float)4)

            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: @rating_ratio[4]%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">@Model.rating_counts[4]</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarList",(float)3)
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: @rating_ratio[3]%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">@Model.rating_counts[3]</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarList",(float)2)
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: @rating_ratio[2]%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">@Model.rating_counts[2]</div>
        </li>
        <li class="rating-star">
          <div class="rating-star-wrapper">
            <div class="card-product-rating-star">
              @await Html.PartialAsync("_Rating5StarList",(float)1)
            </div>
          </div>
          <div class="progress-bar-wrapper">
            <div class="review-progress-wrapper">
              <div class="review-progress"></div>
              <div class="review-progress review-progress-fill" style="width: @rating_ratio[1]%;"></div>
            </div>
          </div>
          <div class="review-star-rating-count">@Model.rating_counts[1]</div>
        </li>
      </ul>
    </div>
    <div class="rating-choose-star-wrapper">
      <div class="reply-button-title">Xem Danh Sách Các Đánh Giá :</div>
      <div class="reply-choose-star-button-wrapper">
        <div class="rating-choose-star rating-choose-star-active" data-star="">Tất cả</div>
        <div class="rating-choose-star" data-star="5">5 Sao</div>
        <div class="rating-choose-star" data-star="4">4 Sao</div>
        <div class="rating-choose-star" data-star="3">3 Sao</div>
        <div class="rating-choose-star" data-star="2">2 Sao</div>
        <div class="rating-choose-star" data-star="1">1 Sao</div>
      </div>
    </div>
  </div>
</div>
