
@model BriefCourseFilterForm

<form accept-charset="utf-8">
    <select class=" input cb" asp-for="SubjectName">
        <option value="">Môn học</option>
        @foreach (var subject in Model.SubjectNames)
        {
            <option value="@subject">@subject</option>
        }
    </select>
    <select class=" input cb" asp-for="Grade">

        <option value="0">Lớp</option>
        @foreach (var grade in Model.Grades)
        {
            <option value="@grade">@grade</option>
        }
    </select>

    <select class=" input cb" asp-for="Gender">
        <option value="">Gia sư</option>
        <option value="@Gender.male">Gia sư Nam</option>
        <option value="@Gender.female">Gia sư Nữ</option>
    </select>
    <input class="input" type="text" asp-for="CourseName" placeholder="Nhập tên khóa học">
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>