@model BriefCourseFilter

<form accept-charset="utf-8">
    <select class=" input cb" asp-for="SubjectName">
        <option value="">Môn học</option>
        @foreach (var subject in Model.SubjectNames)
        {
            <option value="@subject">@subject</option>
        }
    </select>
    <select class=" input cb" asp-for="Grade">

        <option value="">Lớp</option>
        @foreach (var grade in Model.Grades)
        {
            <option value="@grade">@grade</option>
        }
    </select>

    <select class=" input cb" asp-for="Gender">
        <option value="">Giảng viên</option>
        <option value="@Gender.male">Giảng viên Nam</option>
        <option value="@Gender.female">Giảng viên Nữ</option>
    </select>
    <input class="input" type="text" asp-for="SearchQuery" placeholder="Tìm kiếm">
    <button type="submit" class="submit-form-btn">Tìm kiếm</button>
</form>