@model BriefCourseCard

    <div class="card-product-li sem-li">
        <div class="card-sem-li-content">
            <div class="card-product-img-wrapper">
                <div class="card-sem-title">@Model.course_name</div>
            </div>
            <div class="card-sem-desc">
                <div class="card-content">
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Gia sư:
                        </div>
                        <div class="card-sem-item-content">
                            @Model.tch_name
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Môn học:
                        </div>
                        <div class="card-sem-item-content">
                            @Model.subject
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Lớp:
                        </div>
                        <div class="card-sem-item-content">
                          @Model.grade
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Thời gian:
                        </div>
                        <div class="card-sem-item-content">
                            @Model.dates
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Sĩ số:
                        </div>
                        <div class="card-sem-item-content">
                            @Model.participants
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">
                            Đánh giá:
                        </div>
                        <div class="card-sem-item-content">
            @($"{Model.avg_rating}/5 ({Model.num_ratings} lượt đánh giá)")
                        </div>
                    </div>
                    <div class="card-sem-item">
                        <div class="card-sem-item-label">Học phí:</div>
                        <div class="card-sem-item-content">
                           <div class="sem-price">@Model.fee</div> 
                            <span class="currency">đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group-wrapper sem-btn-group">
                <button class="card-btn course-detail" onclick="window.location.href='/Course/Detail?courseId=@(Model.course_id)'">Xem chi tiết</button>
                <button class="card-btn choose"  onclick="window.location.href='/Course/Payment?course_id=@(Model.course_id)'">Đăng kí khóa học</button>
            </div>
        </div>
    </div>
