@model Dictionary<string, string>

   <div class="card-product-li">
        <div class="card-product-li-content">
            <div class="card-product-img-wrapper">
                <img class="card-product-img" src="/@Model["thumbnail"]"></img>
            </div>
            <div class="card-product-desc">
                <div class="card-content">
                    <div class="card-item">
                        <div class="card-item-label">
                            Mã số:
                        </div>
                        <div class="card-item-content">
                            @Model["id"]
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label">
                            Họ và tên:
                        </div>
                        <div class="card-item-content">
                            @Model["fullname"]
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label">
                            Giới tính:
                        </div>
                        <div class="card-item-content">
                            @Model["gender"]
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label">
                            Khu vực:
                        </div>
                        <div class="card-item-content">
                            @Model["addr"]
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label">
                            Dạy môn:
                        </div>
                        <div class="card-item-content">
                            @Model["subjects"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group-wrapper teacher-btn-group">
                <button class="card-btn tch-detail" onclick="window.location.href='/Teacher/Profile'" >Xem chi tiết</button>
                <!-- <button class="card-btn choose">Chọn gia sư</button> -->
            </div>
        </div>
    </div>
