@model AdminStuCorCard

<tr>
    <td scope="row" class="table-index">@Model.TableIndex</td>
    <td>
        <a class="course-table-name" href='/Course/Detail?courseId=@Model.CourseId' target="_blank">
            @Model.CourseName
        </a>
    </td>
    <td>
        @if (Model.Stars > 0)
        {
            <div class="star-rating">
                @for (int i = 1; i <= 5; i++)
                {
                    <span class="star @(i <= Model.Stars ? "filled" : "")">★</span>
                }
            </div>
        }
        else
        {
            <span>Chưa đánh giá</span>
        }
    </td>
    <td>
        @(Model.Status switch {
        SemesterStatus.waiting => "Sắp diễn ra",
        SemesterStatus.finished => "Đã kết thúc",
        SemesterStatus.started => "Đang diễn ra",
        _ => "Không xác định"
        })
    </td>
    <td>@Model.Subject</td>
    <td>@Model.Grade</td>    <td>
        <div class="button-group-wrapper course-manager">
            <button class="card-btn course-detail" onclick="window.location.href='/Course/Detail?courseId=@Model.CourseId'">
                Xem chi tiết
            </button>
        </div>    </td>
</tr>
