@model AdminMngTeacherCard

<tr>
    <td scope="row" class="table-index">@Model.TableIndex</td>
    <td>@Model.Id</td>
    <td>
        <a href="/Teacher/Profile?tchId=@Model.Id">@Model.Name</a>
    </td>
    <td>@Model.Gender</td>
    <td>@Model.Bday</td>
    <td>@Model.Tel</td>
    <td>@Model.SemesterCount</td>
    <td>@(Model.Rating > 0 ? string.Format("{0:0.0}", Model.Rating) : "Chưa có")</td>
    <td>
        <div class="button-group-wrapper course-manager">
            <button class="card-btn course-detail EditTeacherBtn" idx="@Model.Id" data-bs-toggle="modal" data-bs-target='#EditTeacherModal'>Sửa thông tin</button>
            <button class="card-btn course-detail ViewTchCorBtn" idx="@Model.Id" data-teacher-name="@Model.Name" data-bs-toggle="modal" data-bs-target='#TchCorModal'>Xem khóa học</button>
            <button class="card-btn DeleteBtn" style="background: salmon;" idx="@Model.Id" data-teacher-name="@Model.Name" data-bs-toggle="modal" data-bs-target='#DeleteAccountModal'>Xóa</button>
        </div>
    </td>
</tr>
<script>
    document.querySelector(`.EditTeacherBtn[idx="${@Model.Id}"]`)
    .addEventListener('click', function () {
        const getUrl = "/AdminAPI/GetTeacherEditForm";
        const placeholderSelector = `#AdminEditTeacherFormPlaceholder`;
        initPagination(null, getUrl, placeholderSelector, {tchId: @Model.Id});
    });

    document.querySelector(`.ViewTchCorBtn[idx="${@Model.Id}"]`)
    .addEventListener('click', function () {
        const teacherName = this.getAttribute('data-teacher-name');
        const modalTitle = document.querySelector(`#TchCorModal .modal-title`);
        modalTitle.textContent = `Danh sách khóa học của giảng viên ${teacherName}`;
        const teacherCoursesPaginationInfo = { CurrentPage: 1, ItemsPerPage: 5 };
        const sentData = { tchId: @Model.Id };
        const contentSelector = `#teacher-courses-container`;
        const paginationSelector = `#teacher-courses-pagination`;
        initPagination(teacherCoursesPaginationInfo, "/AdminAPI/GetTeacherCourses", contentSelector, sentData, paginationSelector);
    });

    document.querySelector(`.DeleteBtn[idx="${@Model.Id}"]`)
    .addEventListener('click', function () {
        const teacherName = this.getAttribute('data-teacher-name');
        const modalTitle = document.querySelector(`#DeleteAccountModal .modal-title`);
        modalTitle.textContent = `Xóa tài khoản của giảng viên ${teacherName}`;
        const teacherIdElement = document.querySelector(`#DeleteAccountId`);
        teacherIdElement.textContent = @Model.Id;
        const teacherNameElement = document.querySelector(`#DeleteAccountName`);
        teacherNameElement.textContent = `${teacherName}`;
        initPagination(null, "/AdminAPI/GetDeleteAccountForm", "#DeleteAccountFormPlaceholder", { id: @Model.Id, role: `@UserRole.Teacher` });
    });
</script>