@model ManageRequestCard

<tr>
    <td scope="row" class="table-index">@Model.TableIndex</td>
    <td>
        <a class="course-table-name" href='/Course/Detail?courseId=@Model.CourseId' target="_blank">
            @Model.CourseName
        </a>
    </td>
    <td>@Model.StudentId</td>
    <td>@Model.StudentName</td>
    <td>@Model.StudentTel</td>
    <td>
        <div class="button-group-wrapper course-manager">
            <button class="card-btn course-detail btn-accept-request" data-stu-id="@Model.StudentId" data-semester-id="@Model.SemesterId">Chấp nhận</button>
            <button class="card-btn course-detail btn-reject-request" style="background: salmon;" data-stu-id="@Model.StudentId" data-semester-id="@Model.SemesterId">Từ chối</button>
        </div>
    </td>
</tr>