@model ManageRequestCard

<tr>
    <td scope="row" class="table-index">@Model.TableIndex</td>
    <td>
        <a class="course-table-name" href='/Course/Detail?courseId=@Model.CourseId' target="_blank">
            @Model.CourseName
        </a>
    </td>
    <td>@Model.StudentId</td>
    <td>@Model.StudentName</td>
    <td>@Model.StudentTel</td>
    <td>
        <div class="button-group-wrapper course-manager">
            <button class="card-btn course-detail btn-accept-request" data-stu-id="@Model.StudentId" data-semester-id="@Model.SemesterId" data-stu-name="@Model.StudentName">Chấp nhận</button>
            <button class="card-btn course-detail btn-reject-request" style="background: salmon;" data-stu-id="@Model.StudentId" data-semester-id="@Model.SemesterId" data-stu-name="@Model.StudentName" data-bs-toggle="modal" data-bs-target="#RejectRequestReasonModal">Từ chối</button>
        </div>
    </td>
</tr>

<script>
    document.querySelector(`.btn-reject-request[data-stu-id="${@Model.StudentId}"]`).addEventListener('click', function () {
        const stuId = this.getAttribute('data-stu-id');
        const semesterId = this.getAttribute('data-semester-id');
        const stuName = this.getAttribute('data-stu-name');

        const modalTitle = document.querySelector('#RejectRequestReasonModal .modal-title');
        modalTitle.textContent = `Từ chối yêu cầu đăng ký học của học viên ${stuId} - ${stuName}`;
    });
</script>