@{
    var inputClass = ViewData["InputClass"]?.ToString() ?? "auth-input";
    var wrapperClass = ViewData["WrapperClass"]?.ToString() ?? "auth-input-wrapper";
}
<div class="@wrapperClass">
    <input type="password" class="@inputClass" 
           asp-for="@ViewData.Model" 
           placeholder="@ViewData["Placeholder"]" 
           maxlength="150" />
    <div class="hide-show-icon-wrapper">
        <div class="eye-icon-wrapper">
            <svg class="eye-icon eye-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                <path d="M32.711 11c-3.166 4.841-8.573 8.03-14.71 8.03-6.139 0-11.546-3.189-14.712-8.03M9.79 17.5l-3 5m8.5-3-1 5.5m12.5-7.5 3 5m-8.5-3 1 5.5"></path>
            </svg>
            <svg class="eye-icon eye-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 36 36" width="100%" height="100%">
                <circle cx="18" cy="17.5" r="4"></circle>
                <path d="M3.284 18.47a1.77 1.77 0 0 1 0-1.94c3.167-4.84 8.573-8.03 14.711-8.03s11.545 3.19 14.711 8.03a1.77 1.77 0 0 1 0 1.94c-3.166 4.84-8.573 8.03-14.71 8.03-6.139 0-11.545-3.19-14.712-8.03"></path>
            </svg>
        </div>
    </div>
    <span asp-validation-for="@ViewData.Model" class="text-danger"></span>
</div>
