@model BriefTeacherPage
@using System.Text.Json
@{
    var contextComponent = ".pagination-list";
    var contextUrl = "/teacherAPI/getBriefTeacherCards";
}

<div class="text-center">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header section-header">
            <div class="shop-section-title section-title" >
                Danh sách giảng viên
            </div>
        </div>
        <div class="shop-section-content">
            <div class="pagination-form card-search-wrapper">
                @await Html.PartialAsync("_SearchTeacherSection", (object)@Model.MBriefTeacherFilter)
            </div>
            <div class="card-product-ul pagination-list"> </div>
            <div class="pagination-bar"></div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script>
        const filterForm = @Html.Raw(JsonSerializer.Serialize(@Model.MBriefTeacherFilter));
        const paginationInfo = @Html.Raw(JsonSerializer.Serialize(@Model.MPaginationInfo))
        initPagination(paginationInfo, "@contextUrl", "@contextComponent", filterForm, ".pagination-bar", ".pagination-form")
    </script>
}
