@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title">
                Danh sách gia sư
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-search-wrapper">
                <form action="">
                    <select id="comboBox" name="comboBox">
                        <option value="option1">ID</option>
                        <option value="option2">Họ và tên</option>
                        <option value="option3">môn học</option>
                    </select>
                    <input type="text" id="inputText" name="inputText" placeholder="Nhập thông tin" required>
                    <button type="submit">Gửi</button>
                </form>
            </div>
            <div class="card-product-ul">
                @foreach (var teacher in ViewBag.teachers)
                {
                    <div class="card-product-li">
                        <div class="card-product-li-content">
                            <div class="card-product-img-wrapper">
                                @teacher["thumbnail"]
                                <img class="card-product-img" src=@teacher["thumbnail"]></img>
                                <!-- <img class="card-product-img" src="~/images/thumbnail/thumbnail.jpg"></img> -->
                            </div>
                            <div class="card-product-desc">
                                <div class="card-content">
                                    <div class="card-item">
                                        <div class="card-item-label">
                                            Mã số:
                                        </div>
                                        <div class="card-item-content">
                                            @teacher["id"]
                                        </div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-label">
                                            Họ và tên:
                                        </div>
                                        <div class="card-item-content">
                                            @teacher["fullname"]
                                        </div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-label">
                                            Giới tính:
                                        </div>
                                        <div class="card-item-content">
                                            @teacher["gender"]
                                        </div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-label">
                                            Khu vực:
                                        </div>
                                        <div class="card-item-content">
                                            @teacher["addr"]
                                        </div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-label">
                                            Dạy môn:
                                        </div>
                                        <div class="card-item-content">
                                            @teacher["subjects"]
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-group-wrapper">
                                <button class="card-btn">Xem chi tiết</button>
                                <button class="card-btn choose">Chọn gia sư</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <nav aria-label="pagination-wrapper">
                <ul class="pagination">
                    @* pagination *@
                    <li class="page-item ">
                        <a class='page-link pa-active' href="">
                            1
                        </a>
                    </li>
                    @for (int i = 2; i < 5; i++)
                    {
                        <li class="page-item ">
                            <a class='page-link' href="">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item dot">
                        . . .
                    </li>
                    @for (int i = 5; i < 8; i++)
                    {
                        <li class="page-item">
                            <a class='page-link ' href="">
                                @i
                            </a>
                        </li>
                    }
                </ul>
            </nav>


        </div>
    </div>
</div>
