@model (int semesterId, int initStars, string initComment)

@{
  int initStars = Model.initStars == 0 ? 5 : Model.initStars;
}

<div class="modal modal fade" id=@($"myModal{Model.semesterId}") tabindex="-1" aria-hidden="true" semesterId="@Model.semesterId">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Viết Đánh Giá</h5>
        <button type="button" class="btn-close close-popup" data-bs-dismiss="modal" aria-label="Đóng"></button>
      </div>

      <div class="modal-body">
        <div class="pt-add-form">
          <form action="/Rating/SubmitRating" id="pt-add" method="POST">
            <!-- Tên khóa học -->
            <div class="pt-add-form-item">
              <div class="pt-add-label star-label ">
                <label>
                  <div class="required-icon">*</div> Đánh giá
                </label>
              </div>
              <div class="pt-add-input-wrapper star-input">
                @await Html.PartialAsync("RatingPopup/_Rating5StarList", (float)0.0)
                <input type="hidden" name="stars" id="rating" value="@initStars" />
              </div>
            </div>
            <!-- Mô tả -->
            <div class="pt-add-form-item">
              <div class="pt-add-label">
                <label for="description">
                  <div class="required-icon">*</div> Nhận xét
                </label>
              </div>
              <div class="pt-add-input-wrapper">
                <textarea class="pt-add-form-input detail-input" name="comment"
                  id="comment">@Model.initComment</textarea>
              </div>
            </div>
            <input type="hidden" name="semesterId" value="@Model.semesterId" />
            <div class="pt-add-btn-group">
              <button class="hl-btn"><span>Xác nhận</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
initRatingPopupStars(@Model.semesterId, @initStars)
</script>