@model DetailedCoursePage
@using System.Text.Json

<div class="course-content-wrapper">
    <div class="shop-section-wrapper container">
        <div class="shop-section-header">
            <div class="shop-section-title section-title">
                Chi tiết khóa học
            </div>
        </div>
        <div class="shop-section-content">
            <div class="card-product-ul text-center">
                @await Html.PartialAsync("Card/_BriefTeacherCard", (object?)@Model.teacher)
                @await Html.PartialAsync("Card/_DetailedCourseCard", (object?)@Model.course)
            </div>
        </div>
    </div>

    <div class="shop-section-wrapper container rating-wrapper">
        <div class="shop-section-header">
            <div class="shop-section-title section-title">
                Đánh giá khóa học
            </div>
        </div>
        <div class="pagination-form shop-section-content">
            @await Html.PartialAsync("_RatingTable", (@Model.averageRating, @Model.numRatings, @Model.rating_counts))
            <div class="rating-comment-wapper">
                <div class="pagination-list"></div>
            </div>
            <div class="pagination-bar"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script>
        const sentData = { courseId: @Model.courseId }
        const paginationInfo = @Html.Raw(JsonSerializer.Serialize(@Model.MPaginationInfo))
            initPagination(paginationInfo, "/ratingAPI/DetailedCoursePage", ".pagination-list", sentData, ".pagination-bar", null)

        const stars = document.querySelectorAll('.rating-choose-star');
        stars.forEach(star => {
            star.addEventListener('click', function () {
                stars.forEach(s => s.classList.remove('rating-choose-star-active'));
                this.classList.add('rating-choose-star-active');
                const sentData = {
                    courseId: @Model.courseId,
                    stars: this.getAttribute('data-star')
                }
                const paginationInfo = @Html.Raw(JsonSerializer.Serialize(@Model.MPaginationInfo));
                initPagination(paginationInfo, "/ratingAPI/DetailedCoursePage", ".pagination-list", sentData, ".pagination-bar", null)
            });
        });
    </script>
}
